.container{
background-image: linear-gradient(to right, #fcedd9e1 0%, #fcc3b0d7 100%);    box-shadow: rgba(166, 202, 198, 0.877) 10px 10px 10px;
    margin: 10px auto;
    border:1px solid gray;
    border-radius: 10px;
    font-family: 'Noto Sans HK', sans-serif;
    text-align: left;
    display: block;
    max-width: 600px;
}


form{color:red}

#input{
    width: 400px;
    border:1px solid gray;
    border-radius: 5px;
    margin: 10px auto;
}

#submit{
    border:1px solid gray;
    border-radius: 5px;
}

#button{
    width:100px;
    border: 1px solid gray;
    border-radius:5px;
    background-color: rgba(243, 150, 74, 0.397);

}