.container{
    background-image: linear-gradient(to right, #fcedd9e3 0%, #fcc3b0d7 100%);
    box-shadow: rgba(166, 202, 198, 0.877) 10px 10px 10px;
    margin: 11px auto;
    border:1px solid gray;
    border-radius: 10px;
    font-family: 'Noto Sans HK', sans-serif;
    text-align: left;
    display: block;
    max-width: 600px;
}


#form{
    margin-top: 2%;
    margin-bottom: 7%;
}

.time{
    text-align:right;
    margin: -7% 0 0 0;
}

#input{
    border: 1px solid gray;
    border-radius: 5px;
    background:rgba(193, 255, 212, 0.801);
}

#submit{
    border: 1px solid gray;
    border-radius: 5px;
    background:rgba(193, 255, 212, 0.801)
}

#button{
    border: 1px solid rgb(5, 2, 2);
    border-radius: 5px;
    background:rgb(255, 193, 193);
}

header{
    margin-top: 10px;
}

header img{
    margin: 0 0 20% 0;
}

.city{
    font-variant: small-caps;
    font-size: 30px;
    margin-left:15px;
}

.temperature{
    font-weight: 400;
    font-size: 50px;
    position:relative;
    margin: -50px 0 0 175px;
}

.units{
    position:relative;
    margin: -60px 0 0 225px;
}

header p{
    font-size:15px;
    margin: 40px 0 0 15px;
}

header ul{
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0 20px 0 20px;
    font-size: 15px;
    background-color: rgba(222, 148, 135, 0.568);
    border-radius: 20px;
    width: fit-content;
}

header img{
    position:relative;
    margin: 50px 350% 0 0;
    padding: 0 0 0 0;
}

.day{
    text-align:center;
}

h6{
    text-decoration:underline;
    font-weight:600;
    text-align:center;
}


.forecast ul{
    list-style: none;
    font-size: 15px;
    padding: 0 0 0 0 ;
    margin: 10px auto;
}





